<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="copyright" content="MACode ID, https://macodeid.com/">

  <title>Dung-Tshap</title>

  <link rel="stylesheet" href="../static/css/maicons.css">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">

  <link rel="stylesheet" href="../static/vendor/owl-carousel/css/owl.carousel.css">

  <link rel="stylesheet" href="../static/vendor/animate/animate.css">

  <link rel="stylesheet" href="../static/css/theme.css">
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet"> 
  <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">      
  {% block css %} {% endblock %}

  <title>{% block title %} {% endblock %}</title>
  
</head>
<body>

  <!-- Back to top button -->
  <div class="back-to-top"></div>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm">
      <div class="container">
        <a class="navbar-brand" href="/"><span class="text-primary">Drung</span>-Tshab</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupport" aria-controls="navbarSupport" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupport">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item {% block status1 %}{% endblock %}">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item {% block status2 %}{% endblock %}">
              <a class="nav-link" href="/service">Service</a>
            </li>
            <li class="nav-item {% block status3 %}{% endblock %}">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item {% block status4 %}{% endblock %}">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div> 
    </nav>
  </header>


  {% block body %}{% endblock %}

  <footer class="page-footer">
    <div class="container">
      <div class="row px-md-3">
        <div class="col-sm-6 col-lg-3 py-3">
          <h5>Quick Links</h5>
          <ul class="footer-menu">
            <li><a href="#">Jigme Dorji Wangchuck National Referral Hospital</a></li>
            <li><a href="#">Mongar Regional Referral Hospital</a></li>
            <li><a href="#">Ministry of Health</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-lg-3 py-3">
          <h5>Services</h5>
          <ul class="footer-menu">
            <li><a href="https://docs.google.com/document/d/13uoJPxkQUmGiCB8TsrnNsQ4kLeWGfJB3-1uK_NZR52Q/edit?usp=sharing">Terms & Condition</a></li>
            <li><a href="#">Disease Prediction</a></li>
            <li><a href="https://t.me/Drung_Tshab_Bot">Telegram DR-bot</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-lg-3 py-3">
          <h5>Group Members</h5>
          <ul class="footer-menu">
            <li><a href="https://www.facebook.com/jamtsho.tandin.750">Tandin Jamtsho</a></li>
            <li><a href="https://www.facebook.com/dae.keyy">Sonam Deki</a></li>
            <li><a href="#">Pema Dendup</a></li>
            <li><a href="https://www.facebook.com/profile.php?id=100061795183454">Tandin Wangchuk</a></li>
            <li><a href="https://www.facebook.com/tengyel2001">Tenzin Gyeltshen</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-lg-3 py-3">
          <h5>Contact</h5>
          <p class="footer-link mt-2">Gyalpozhing College of Information Technology</p>
          <a href="#" class="footer-link">17678204</a><br>
          <a href="#" class="footer-link">group13@gcit.edu.bt</a>

          <h5 class="mt-3">Social Media</h5>
          <div class="footer-sosmed mt-3">
            <a href="https://www.facebook.com/" target="_blank"><span class="mai-logo-facebook-f"></span></a>
            <a href="https://accounts.google.com/signup/v2/webcreateaccount?continue=https%3A%2F%2Fmyaccount.google.com%3Futm_source%3Daccount-marketing-page%26utm_medium%3Dcreate-account-button&flowName=GlifWebSignIn&flowEntry=SignUp" target="_blank"><span class="mai-logo-google-plus-g" target="_blank"><span class="mai-logo-google-plus-g"></span></a>
            <a href="#" target="_blank"><span class="mai-logo-instagram"></span></a>
          </div>
        </div>
      </div>

      <hr>

      <p id="copyright">Copyright &copy; 2023 <a href="#" target="_blank">Drung-Tshab</a>. All right reserved</p>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script>
  </footer>

<script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script>    

<script src="../static/js/jquery-3.5.1.min.js"></script>

<script src="../static/js/bootstrap.bundle.min.js"></script>

<script src="../static/vendor/owl-carousel/js/owl.carousel.min.js"></script>

<script src="../static/vendor/wow/wow.min.js"></script>

<script src="../static/js/theme.js"></script>
  
</body>
</html>