{% extends 'base.html'%}

{% block title %} heart {% endblock %}
{% block status %}active{% endblock %}


{% block css %} 
<link rel="stylesheet" href="../static/css/maicons.css">

<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">

<link rel="stylesheet" href="../static/vendor/owl-carousel/css/owl.carousel.css">

<link rel="stylesheet" href="../static/vendor/animate/animate.css">

<link rel="stylesheet" href="../static/css/theme.css">

{% endblock %}

{% block body %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}"> -->
	<title>Dung-Tshap | Heart Disease Prediction</title>
</head>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #F5F5F5;
    }

    h1 {
        text-align: center;
        margin-top: 50px;
        color: #555;
    }

    h5 {
        text-align: center;
        margin-top: 20px;
        color: #777;
    }

    .btn {
        text-align: center;
        margin-top: 30px;
    }

    .btn button {
        background-color: #55BBA7;
        color: #fff;
        border: none;
        border-radius: 20px;
        padding: 15px 30px;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .btn button:hover {
        background-color: #46a89c;
    }

    #upload-file {
        text-align: center;
        margin-top: 50px;
    }

    .upload-label {
        display: block;
        color: #555;
        font-size: 18px;
        margin-bottom: 20px;
    }

    #imageUpload {
        display: none;
    }

    .image-section {
        margin-top: 50px;
        display: none;
        text-align: center;
    }

    .img-preview {
        width: 400px;
        height: 400px;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    #imagePreview {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    #btn-predict {
        margin-top: 30px;
        background-color: #55BBA7;
        color: #fff;
        border: none;
        border-radius: 20px;
        padding: 15px 30px;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    #btn-predict:hover {
        background-color: #46a89c;
    }

    .loader {
        margin-top: 50px;
        border: 16px solid #f3f3f3;
        border-top: 16px solid #55BBA7;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: spin 2s linear infinite;
        margin: 0 auto;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    #result {
        text-align: center;
        margin-top: 50px;
        font-size: 24px;
        font-weight: bold;
        color: #555;
    }
    #spanresult {
        display: inline-block;
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 20px;
        background-color: #EBFFFA;
        border: 2px solid #257A7A;
        border-radius: 10px;
        color: #333;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
      }
      
</style>
<body>
    <h1 style="text-align:center;">Brain Tumor Prediction</h1>
    <h5 style="text-align:center;">Please Select you MRI Image below</h5>
    
    <div>
        <div class="btn">
            <button class="btn btn-primary wow zoomIn" id="myBtn" onclick="window.location.href='/'">Back</button>
        </div>
        <form id="upload-file" method="post" enctype="multipart/form-data">
            <label for="imageUpload" class="upload-label">
                Select MRI Image 
            </label>
            <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
        </form>
    
        <div class="image-section" style="display:none;">
            <div class="img-preview">
                <div id="imagePreview">
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-primary wow zoomIn" id="btn-predict">Predict!</button>
                
            </div>
        </div>
    
        <div class="loader" style="display:none;"></div>
    
        <h3 id="result">
            <span id="spanresult"> </span>
        </h3>
        <br>
        <br>
      
    
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
{% endblock %}


