
{% extends 'base.html'%}

{% block title %} Learn {% endblock %}
{% block status %}active{% endblock %}


{% block css %}
<title>Dung-Tshap</title>

  <link rel="stylesheet" href="../static/css/maicons.css">

  <link rel="stylesheet" href="../static/css/bootstrap.css">

  <link rel="stylesheet" href="../static/vendor/owl-carousel/css/owl.carousel.css">

  <link rel="stylesheet" href="../static/vendor/animate/animate.css">

  <link rel="stylesheet" href="../static/css/theme.css">

{% endblock %}


{% block body %}
<!DOCTYPE html>
<html>
<style>
	 #main-footer
    {
      color: #FFFFFF;
      font-family: "Segoe UI";
      background: #2B2B2B;
      text-align: center;
      margin-top: 75px;
      padding: 16px;
      bottom: 8px;
    }

    .img_holder img{
        max-width: 100%; max-height: 100%;
    }

    .btn-file {
    position: relative;
    overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
</style>
<body>
	<div class="container">
        <h1 style="text-align:center; margin-top:50px;">Drung-Tshab - About Disease</h1>
    <p style="text-align:center;">This is a directory of all the diseases that Drung-Tshab can generate prediction for, this index provides in depth.
    details about the disease including its symptoms.</p>
    <h2>1. Breast Cancer </h2>
    <div style="text-align: center; margin-top: 20px">
       <img style="max-width: 600px" src="static/img/breastcancer.jpg" /><br/><br/>
   </div>
    <p>Breast cancer is cancer that develops from breast tissue. Signs of breast cancer may include a lump in the breast, a change in breast shape, dimpling of the skin, fluid coming from the nipple, a newly inverted nipple, or a red or scaly patch of skin.<br></p>

    <h3>Symptoms</h3>
    <p>Signs and symptoms of breast cancer may include:</p>
    <ul>
      <li>A breast lump or thickening that feels different from the surrounding tissue</li>
      <li>Change in the size, shape or appearance of a breast
      </li>
      <li>
        Changes to the skin over the breast, such as dimpling
      </li>
      <li>
        A newly inverted nipple
      </li>
      <li>Peeling, scaling, crusting or flaking of the pigmented area of skin surrounding the nipple (areola) or breast skin</li>
      <li>Redness or pitting of the skin over your breast, like the skin of an orange</li>
    </ul>
    <h3>Causes</h3>
    <p>Doctors know that breast cancer occurs when some breast cells begin to grow abnormally. These cells divide more rapidly than healthy cells do and continue to accumulate, forming a lump or mass. Cells may spread (metastasize) through your breast to your lymph nodes or to other parts of your body.<br>
Breast cancer most often begins with cells in the milk-producing ducts (invasive ductal carcinoma). Breast cancer may also begin in the glandular tissue called lobules (invasive lobular carcinoma) or in other cells or tissue within the breast.
<br>
Researchers have identified hormonal, lifestyle and environmental factors that may increase your risk of breast cancer. But it's not clear why some people who have no risk factors develop cancer, yet other people with risk factors never do. It's likely that breast cancer is caused by a complex interaction of your genetic makeup and your environment.</p>
<br>
<hr>
<br>

<h2>2. Diabetes</h2>
<div style="text-align: center; margin-top: 20px">
       <img style="max-width: 600px" src="static/img/diabetes.png" /><br/><br/>
   </div>
<p>Diabetes is a disease that occurs when your blood glucose, also called blood sugar, is too high. Blood glucose is your main source of energy and comes from the food you eat. Insulin, a hormone made by the pancreas, helps glucose from food get into your cells to be used for energy.</p>
<h3>What health problems can people with diabetes develop? </h3>
<p>Over time, high blood glucose leads to problems such as</p>

 <ul>
  <li>heart disease</li>
  <li>stroke</li>
  <li>kidney disease</li>
  <li>eye problems</li>
  <li>dental disease</li>
  <li>nerve damage</li>
  <li>foot problems</li>
</ul>
<br>
<hr>
<br>

<h2>3.Heart Disease</h2>
<div style="text-align: center; margin-top: 20px">
       <img style="max-width: 600px" src="static/img/heart.png" /><br/>
   </div>
<h3>Overview</h3>
<p>Heart disease describes a range of conditions that affect your heart. Diseases under the heart disease umbrella include blood vessel diseases, such as coronary artery disease; heart rhythm problems (arrhythmias); and heart defects you're born with (congenital heart defects), among others.<br>
  The term "heart disease" is often used interchangeably with the term "cardiovascular disease." Cardiovascular disease generally refers to conditions that involve narrowed or blocked blood vessels that can lead to a heart attack, chest pain (angina) or stroke. Other heart conditions, such as those that affect your heart's muscle, valves or rhythm, also are considered forms of heart disease.<br>
Many forms of heart disease can be prevented or treated with healthy lifestyle choices.</p>

<h3>Symptoms</h3>
 <ul>
  <li>Chest pain, chest tightness, chest pressure and chest discomfort (angina)</li>
  <li>Shortness of breath</li>
  <li>Pain, numbness, weakness or coldness in your legs or arms if the blood vessels in those parts of your body are narrowed</li>
  <li>Pain in the neck, jaw, throat, upper abdomen or back</li>
</ul>
<br>
<hr>
<br>
<h2>4.Brain Tumor Disease</h2>
<div style="text-align: center; margin-top: 20px">
       <img style="max-width: 600px" src="static/img/brainT.jpg" /><br/>
   </div>
<h3>Overview</h3>
<p>A brain tumor is a mass or growth of abnormal cells that form in the brain. Tumors can be benign, meaning they are not cancerous and do not spread to other parts of the body, or malignant, meaning they are cancerous and can spread to other parts of the body. Brain tumors can develop in any part of the brain and can cause a wide range of symptoms, depending on their size, location, and type. Some common symptoms of brain tumors include headaches, seizures, changes in vision or hearing, balance problems, memory loss, and mood or personality changes.<br>
    Treatment options for brain tumors include surgery, radiation therapy, and chemotherapy, and the choice of treatment depends on factors such as the type and location of the tumor, the size of the tumor, and the overall health of the patient. Early detection and treatment can improve outcomes for people with brain tumors, and ongoing care and monitoring are important for managing the condition and maintaining quality of life.

</p>
<h3>Symptoms</h3>
<ul>
    <li>Headaches that are often worse in the morning or when lying down</li>
   <li> Nausea or vomiting</li>
    <li>Seizures</li>
    <li>Vision or hearing changes, such as blurred vision or ringing in the ears</li>
    <li>Balance problems or difficulty walking</li>
    <li>Weakness or numbness in the arms or legs</li>
    <li>Changes in mood or personality, such as depression or anxiety</li>
    <li>Memory loss or confusion</li>
    <li>Speech difficulties, such as slurred speech or difficulty finding words
    </li>
    <li>Fatigue or lack of energy</li>

  </ul>

<br>
<hr>
<br>

	</div>
<script src="../static/js/jquery-3.5.1.min.js"></script>

<script src="../static/js/bootstrap.bundle.min.js"></script>

<script src="../static/vendor/owl-carousel/js/owl.carousel.min.js"></script>

<script src="../static/vendor/wow/wow.min.js"></script>

<script src="../static/js/theme.js"></script>
</body>
</html>
{% endblock %}